html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
p,
ul,
li {
  font-family: Arial, Helvetica, sans-serif, Microsoft JhengHei;
  color: black;
}

/*------------------------- end css rest -------------------------*/
body {
  background: #E1E1E1;
}

#wrapper {
  background: #E1E1E1;
}

/*---------- header ----------*/
#header {
  width: 100%;
  height: 76px;
  background-color: #4A90E2;
}

#header li {
  text-align: center;
}

#header a {
  color: #00408B;
  font-size: 24px;
  line-height: 76px;
}

#header a:hover {
  color: white;
  text-decoration: none;
}

/*---------- /header ----------*/
/*---------- main content ----------*/
.mainContent {
  margin-top: 20px;
}

.mainContent .detailHeader {
  box-shadow: 0 1px 1px 0 #C8C8C8;
}

.mainContent > .justify-content {
  background: #F2F2F2;
  box-shadow: 0 4px 4px 0 #C8C8C8;
}

.mainContent .detail {
  margin-top: 20px;
  padding: 0 8%;
}

.mainContent .detail h4 {
  font-size: 20px;
}

.mainContent .detail .calendar,
.mainContent .detail .file,
.mainContent .detail .comment {
  margin-right: 10px;
}

.mainContent .detail .date {
  margin-bottom: 15px;
}

.mainContent .detail .detail_file,
.mainContent .detail .detail_comment {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainContent .detail .detail_input i {
  font-size: 30px;
  margin-top: -5px;
  margin-left: 20px;
}

.mainContent .clickBtn li {
  background: #FFFFFF;
  text-align: center;
  height: 60px;
}

.mainContent .clickBtn li:last-child {
  background: #4A90E2;
}

.mainContent .clickBtn a {
  text-decoration: none;
  color: #D0021B;
  line-height: 60px;
  font-size: 24px;
}

.mainContent .clickBtn a span {
  margin-right: 5px;
}

.mainContent .clickBtn a:hover {
  color: orangered;
  transition: 0.3s ease-in-out;
}

.mainContent .clickBtn .color {
  color: white;
}

/*---------- /main content ----------*/
/*---------- content ----------*/
.todo h3 {
  margin-top: 20px;
  margin-left: 10px;
  font-family: Roboto-Italic;
  font-size: 24px;
  color: #C8C8C8;
}

.todoTitle {
  margin-top: 20px;
  background: #FFF2DC;
  height: 76px;
}

.todoTitle .fa-square {
  font-size: 20px;
  display: inline-block;
}

.todoTitle .todolist {
  margin-left: 15px;
}

.todoTitle .todo-title {
  line-height: 38px;
  margin-left: 15px;
  font-family: Roboto-Medium;
  font-size: 24px;
  color: #000000;
}

.todoTitle .todo-icon {
  margin-left: 35px;
}

.todo {
  margin-top: 20px;
}

.todoTitle {
  margin-top: 20px;
  background: #F2F2F2;
  height: 76px;
}

.todoColor {
  background: #FFF2DC;
}

.fa-star {
  color: #F5A623;
  font-size: 24px;
  line-height: 66px;
}

.fa-pencil-alt {
  color: #4A90E2;
  font-size: 24px;
  line-height: 66px;
}

/*---------- /content ----------*/
/*---------- /footer ----------*/
/*---------- /footer ----------*/
/*# sourceMappingURL=main.css.map */